{% extends "base.html" %}
{% load i18n static %}
{% block main %}
    <section id="about">
        <div class="width">
            <h1>{% trans "О нас" %}</h1>
            <img style="display: block; margin-left: auto; margin-right: auto; " src="{% static 'images/logo.png' %}">
            <span class="subhead">Проект zhardam.kg</span>
            {% blocktrans %}
                <p>
                    Мы платформа, где вы можете получить бесплатно получить медицинскую, информационную, психологическую и юридическую консультационную помощь. Проект направлен на людей, которые хотят узнать больше о борьбе против насилия.
                </p>
                <p>
                    Предоставляем услугу it-волонтера, который обеспечит анонимную эмоциональную поддержку.
                </p>
                <p>
                    Кроме этого, мы поможем Вам с правильным составлением заявления, сбором улик и необходимых документов и материалов, если Вы решите заявить на преступника/обидчика/агрессора.
                </p>
            {% endblocktrans %}
        </div>
    </section>
{% endblock %}
