{% extends 'base.html' %}
{% block main %}
    <div class="container profits-section">
        <h1> Контакты кризисных центров </h1>


<h4>Кризисный центр "Сезим" </h4>
        <p>
            Телефон доверия (312) 512639 (312) 512640 <br/>
        г.Бишкек, 10м-н, д33, южная сторона , цокольный этаж .<br/>
        Новый тел офиса: 0312- 57 60 94, <br/>
        круглосуточный тлф.доверия 0312-51 26 40<br/>
        </p>
 
        <h4>Кризисный шентр "Шанс"</h4>
        <p>Телефон доверия: (312) 435301 <br>
        г.Бишкек, ул. Киевская 27<br/>
        </p>

        <h4>ОО Центр Профилактики Насилия КЦ «Даршайым» </h4>
        <p>Телефон доверия: (312) 93 36 49<br>
        Ассоциация кризисных центров<br>
        acc.kg@mail.ru<br>
            +996 (312) 661592<br>
        </p>
 
        <h4>«Центр помощи женщинам»</h4>
        <p>kyrgyzwomen@gmail.com<br>
        +996 (312) 547416<br>
        </p>
 
        <h4>Ресурсный Центр «Женщины могут все»</h4>
        <p>0 312 55 06 07; 0 772 38 91 03<br></p>
 
        <h4>КЦ «Алтынай» (Ыссык-Кульская обл.)</h4>
        <p>Телефон доверия: (03943) 4-41-37; 4-28-50; <br>
            altynai1951@mail.ru. <br>
        </p>
 
        <h4>Кризисный Центр «ЭлНаз» </h4>
        <p>г. Талас,ул.Сарыгулова-21 или Нуржанова-129 <br>
        (3422) (53865 ;54340;55730;)<br>
            0772 532920 07720873028<br>
        </p>

        <h4>«Даршайым» — Центр Профилактики Насилия</h4>
        <p>г. Бишкек, Тел: +996 (0312) 64 93 50<br>
        Эл. почта: darshayim@mail.ru , mairash_1955@mail.ru<br>
        Сфера деятельности:<br>
        * консультационная;<br>
        * обучающая;<br>
        * информационная.<br>
        </p>

<h4>Кризисный центр «Тендеш», г. Бишкек</h4>
        <p>
            +996 (03522) 5 37 70, 5 02 70 (ф.), г. Нарын <br>
        Эл. почта: ngo-tendesh@rambler.ru <br>
        Сфера деятельности: <br>
        * Телефон доверия; <br>
        * Очные консультации: психолога, юриста, врача;<br>
        * Предоставление убежища.<br>
        </p>
    </div>
{% endblock %}
