{% extends 'base.html' %}

{% block main %}

    <div class="top-section">
        <div class="container">
            <h1 class="top-section__heading">Вы или ваш близкий человек столкнулся с насилием? <br> Мы можем вам помочь</h1>
        </div>
    </div>

    <div class="container profits-section">
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Юридическая помощь</h4>
                    <p class="card-text">Мы поможем вам решить следующие проблемы: </p>
                    <ul class="card-list">
                        <li>факты нарушения прав и законных интересов</li>
                        <li>правовые проблемы частного/общественного характера подлежащие разбирательству в судебном порядке</li>
                        <li>опасаетесь оппонировать системе</li>
                        <li>желаете сохранить инкогнито</li>
                        <li>можете обращаться</li>
                    </ul>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Психологическая помощь</h4>
                    <ul>
                        <li>Решение появившиеся проблемы (стресс, дизмораль)</li>
                        <li>Практические рекомендации</li>
                        <li>Помощь в уверенности решения</li>
                    </ul>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
